<div class="content-home" style="background-color: #1c1c1c">

    <nav class="nav-code-shop">
        <div class="container">

            <img src="<%= assetPath("/img/logo-nav.png") %>" alt="Logomarca CodeShop">

        </div>
    </nav>

    <header class="header-code-shop">

        <div class="container">
            <div class="row">
                <div class="col-md-5">

                    <h1>Tenha sua própria loja em minutos!</h1>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur, blanditiis
                        consequuntur cupiditate delectus dicta dolores ex neque nihil odit perspiciatis placeat ratione
                        rerum saepe sit soluta, tenetur voluptate, voluptatem!
                    </p>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur, blanditiis
                        consequuntur cupiditate delectus dicta dolores ex neque nihil odit perspiciatis placeat ratione
                        rerum saepe sit soluta, tenetur voluptate, voluptatem!
                    </p>

                    <a href="<%= plansPath() %>" title="Clique aqui para começar" class="btn btn-info">Clique aqui para
                        começar</a>

                </div>
            </div>
        </div>

    </header>

</div>
