<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Code Shop | Maratona Full Cycle</title>

    <link rel="shortcut icon" href="<%= assetPath("/img/favicon.ico") %>"/>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700,600' rel='preload' as="style" onload="this.rel='stylesheet'" type='text/css'>

    <link rel="stylesheet" type="text/css" href="<%= assetPath("/css/main.css") %>" media="all" />

</head>
<body>

        <%= partial("flash.html") %>
        <%= yield %>

    <footer class="ftr"><p>Copyright &copy; 2020 CODE SHOP</p></footer>
    <script type="text/javascript" src="<%= assetPath("/js/main.js") %>"></script>
</body>
</html>