<div class="content-payment-success" style="background-color: #1c1c1c">
    <nav class="nav-code-shop">
        <div class="container"><img src="<%= assetPath("/img/logo-nav.png") %>" alt="Logomarca CodeShop"></div>
    </nav>
    <section class="payment-success">
        <div class="container">
            <div class="row justify-content-xl-center">
                <div class4="col-xl-6">
                    <div class="container-success">
                        <img src="<%= assetPath("/img/mail.png") %>" alt="">
                        <h1>Parabéns! O boleto bancário da sua assinatura acaba de ser gerado.</h1>
                        <p>
                            <a href="<%= boletoURL %>" target="_blank">Clique aqui para visualizar</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
