<div class="content-payment-success" style="background-color: #1c1c1c">
    <nav class="nav-code-shop">
        <div class="container"><img src="<%= assetPath("/img/logo-nav.png") %>" alt="Logomarca CodeShop"></div>
    </nav>
    <section class="payment-success">
        <div class="container">
            <div class="row justify-content-xl-center">
                <div class4="col-xl-6">
                    <div class="container-success">
                        <img src="public/img/mail.png" alt="">
                        <h1>Parabéns!</h1>
                        <p>
                            Você acaba de receber um email com todas as informações de acesso a sua nova loja virtual.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
